@import url('./css/main.css');
@import url('./css/aside.css');
@import url('./css/main-view.css');
:root {
    --primary-gray: #f4f4f4;
    --primary-white: #ffffff;
    --primary-btn-hover: rgba(0, 0, 0, 0.2);
  }